/* basic styles */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 none;
  list-style: none outside none;
  margin: 0;
  outline: 0 none;
  padding: 0;
}

body {
  font-size: 15px;
  line-height: 20px;
  background-color: #f4f5f6;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
  margin: 0;
}

footer .footer-logo {
  fill: red;
  font-size: 2rem;
  height: 3.3rem;
}

footer i {
  color: gray;
  padding: 0.6rem;
  font-size: 2.2rem;
}

.copy-right-footer {
  font-size: 13px;
}

footer .editions-links li,
footer .about-links li {
  padding: 0 1rem;
  border-left: 1px solid rgb(66, 65, 65);
}

footer .about-links li {
  font-size: 14px;
}

/* navbar */

.mainNav {
  background-color: #f72210;
  min-height: 50px;
}

.logoNav {
  width: 130px;
  height: 20px;
  fill: white;
}

.rightBtns {
  margin: 0;
}

.logIn {
  font-size: 1.25em;
  margin-right: 1em;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
}

.sub {
  background-color: #ffe400;
  border-radius: 24px;
  font: bold 13px/24px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  padding: 0 1em;
  margin: 0 0.5em;
}

.sub::after {
  content: "";
  display: inline-block;
  margin-left: 3px;
  width: 4px;
  height: 4px;
  transform: rotate(45deg);
  border-top-width: 1px;
  border-top-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: black;
}

.burger1 {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  vertical-align: top;
  text-align: center;
}

.burger1::before,
.burger1::after {
  content: "";
}

.burger1 > span,
.burger1::before,
.burger1::after {
  display: block;
  width: 18px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.55);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* --------- responsive navbar----------------- */

@media (min-width: 768px) {
  .sub {
    font-size: 18px;
    line-height: 30px;
  }

  .burger1 > span,
  .burger1::before,
  .burger1::after {
    height: 5px;
    width: 26px;
  }
}

@media (min-width: 992px) {
  .logoNav {
    height: 60px;
    width: 250px;
  }
}

/* page-bottom */

.magazine {
  margin-top: 20px;
}

.magazine header {
  font: bold 19px/19px "Roboto Condensed", sans-serif;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.iconmagaz {
  -webkit-flex: none;
  flex: none;
  display: block;
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain
    no-repeat #f72210;
  margin-right: 10px;
}

/* footer */
.element-invisible {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  overflow: hidden;
  height: 1px;
}

.page-footer .social {
  color: #666;
  margin-bottom: 12px;
}

/* main styles goes below */

.my-container > section > div {
  padding: 1rem;
}

main .feature-h2,
main .top-story-h2 {
  font-size: 14px;
}

main .stories-child {
  border-top: 1px solid rgb(209, 197, 197);
  border-bottom: 1px solid rgb(197, 192, 192);
}

main .stories-child .image {
  margin-right: 1rem;
}
